body {
    font-family: Arial;
    /* Font principale */
    font-size: 14px;
    /* Dimensione base testo */
}


.pagination>li>a {
    background-color: white;
    color: black;
}

.nav-link {
    color: black;
}

.box {
    background-color:#F5F5F5
}

.pagelink {
    margin:20px 0;
}

.footer {
    color:white !important;
}