body {
    font-family: Arial;
    font-size: 14px;
    }


.pagination>li>a {
    background-color: white;
    color: black;
}

.nav-link {
    color: black;
}

.box {
    background-color:#F5F5F5
}

.pagelink {
    margin:20px 0;
}

.footer {
    color:white !important;
}

.footer-img {
  height: 400%;      
  margin-left: 100px; 
  object-fit: cover;
}

.nav-link.footer {
  height: 50px;
  line-height: 50px; 
}