body{
	font-family: Arial; 
	font-size:14px; 
}

.topnav {
    background-color: #333; 
    overflow: hidden; 
}

.carousel-container {
  position: absolute; 
  background-color: rgba(26, 26, 26, .3); 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  z-index: 3; 
  opacity: 1;
  padding: 2rem; 
  width: 100%; 
  box-sizing: border-box; 
}

@media (max-width: 768px) {
  .carousel-container {
    padding: 1rem; 
    font-size: 1rem; 
  }
}

.carousel {
  width: 100%; 
  padding: 0;
  margin: 0;
  background-color: var(--background-color); 
  position: relative; 
}

.carousel-img-box {
  height: 80vh;; 
  min-height: 250px; 
  width: 100%;
}

@media (max-width: 768px) {
  .carousel-img-box {
    height: 40vh; 
    min-height: 120px;
  }
}

@media (max-width: 1200px) {

}

.titolo {
  color: white;
  text-shadow: 2px 2px 4px #000000; 
}

.titoloprincipale { 
  font-size: 450%;
  }

.titolosecondario { 
  font-size: 200%;
  }

.testointroduzione { 
  text-align:left;
  font-size: 17px;
  }

.boxbiografia { 
  background-color:#E8E8E8;
  }

.testobiografia { 
  font-size: large;
  }

.scopridipiu { 
  color: black;
  font-size:120%
  }

.imgcarouselopere { 
  width:400px;
  height:400px;
  }

.testoopere {
 font-size: large
}

.card {
  background-color:#E8E8E8
}

.footer {
  color:white !important;
}

.footer-img {
  height: 400%;      
  margin-left: 100px; 
  object-fit: cover;
}

.nav-link.footer {
  height: 50px;
  line-height: 50px; 
}